*.o
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/configure
/libtool
Makefile.in
Makefile
.deps/
mp3fs.1
*.a
/src/mp3fs
/test/concurrent_read
/test/fpcompare
/test/*.log
/test/*.trs
