language: cpp
compiler:
  - clang
  - gcc
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq --no-install-recommends libfuse-dev libflac++-dev libmp3lame-dev libid3tag0-dev asciidoc xmlto
script: ./autogen.sh && ./configure && make
